<% include partials/header.ejs %>

<div class="container mt-4">
    <div class="display-4 text-center">
        <h1 style="height:3rem;"><%= message %></h1>
    </div>
</div>

<% include partials/footer.ejs %>